@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 41);
    text-align: center;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    margin: 0 5vw 0 5vw;
}

.header-bar h1 {
    display: flex;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 6px;
    color: #6aa0ff;
}

.header-bar nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header-bar nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: auto 25px;
    transition: color 0.3s ease;
}

.header-bar a:hover {
    color: #6aa0ff;
}

.hire-me-btn {
    margin: 0;
    background: #6aa0ff;
    font-weight: 700;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s ease;
}

.hire-me-btn:hover {
    background-color: #0354e7;
    color: white;
}

main {
    /*height: 78vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-titles h2, h3, p, span {
    color: #fff;
    letter-spacing: 2px;
}

#home-titles h2 {
    font-size: 35px;
    font-weight: 300;
    margin-top: 50px;
}

#home-titles h2 span {
    color: #6aa0ff;
    font-weight: 500;
    letter-spacing: 5px;
}

#home-titles h3 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 8px;
}

#home-titles p {
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;
}

#home-cards {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    width: 90vw;
}

.home-card {
    color: black;
    background: #6aa0ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 0 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.home-card:hover{

}

footer {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer p {
    color: #fff;
    font-size: 13px;
    font-weight: 100;
}
